<?xml version="1.0"?>
<phpunit bootstrap="bootstrap.php" backupStaticAttributes="false" colors="true">
    <testsuites>
        <testsuite name="Mollie Magento 1">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="junit" target="../build/logs/junit-unittests.xml" logIncompleteSkipped="false"/>
        <log type="coverage-html" target="../build/coverage" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="../build/clover/clover-unittests.xml"/>
    </logging>
    <filter>
        <blacklist>
            <directory>/usr/share/php</directory>
        </blacklist>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>../app/code/community/Mollie/Mpm/Block</directory>
            <directory>../app/code/community/Mollie/Mpm/controllers</directory>
            <directory>../app/code/community/Mollie/Mpm/Helper</directory>
            <directory>../app/code/community/Mollie/Mpm/Model</directory>
            <file>../app/design/frontend/base/default/template/mollie/page/fail.phtml</file>
        </whitelist>
    </filter>
</phpunit>
