<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2012-2019, Mollie B.V.
  ~ All rights reserved.
  ~
  ~ Redistribution and use in source and binary forms, with or without
  ~ modification, are permitted provided that the following conditions are met:
  ~
  ~ - Redistributions of source code must retain the above copyright notice,
  ~   this list of conditions and the following disclaimer.
  ~ - Redistributions in binary form must reproduce the above copyright notice,
  ~   this list of conditions and the following disclaimer in the documentation
  ~   and/or other materials provided with the distribution.
  ~
  ~ THIS SOFTWARE IS PROVIDED BY THE AUTHOR AND CONTRIBUTORS ``AS IS'' AND ANY
  ~ EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
  ~ WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
  ~ DISCLAIMED. IN NO EVENT SHALL THE AUTHOR OR CONTRIBUTORS BE LIABLE FOR ANY
  ~ DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
  ~ (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
  ~ SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
  ~ CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
  ~ LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
  ~ OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH
  ~ DAMAGE.
  ~
  ~ @category    Mollie
  ~ @package     Mollie_Mpm
  ~ @author      Mollie B.V. (info@mollie.nl)
  ~ @copyright   Copyright (c) 2012-2019 Mollie B.V. (https://www.mollie.nl)
  ~ @license     http://www.opensource.org/licenses/bsd-license.php  BSD-License 2
  -->
<config>
    <modules>
        <Mollie_Mpm>
            <version>5.4.0</version>
        </Mollie_Mpm>
    </modules>
    <global>
        <models>
            <mpm>
                <class>Mollie_Mpm_Model</class>
                <resourceModel>mpm_resource</resourceModel>
            </mpm>
            <mpm_resource>
                <class>Mollie_Mpm_Model_Resource</class>
                <entities>
                    <payments>
                        <table>mollie_payments</table>
                    </payments>
                    <orderLines>
                        <table>mollie_order_lines</table>
                    </orderLines>
                </entities>
            </mpm_resource>
        </models>
        <blocks>
            <mpm>
                <class>Mollie_Mpm_Block</class>
            </mpm>
        </blocks>
        <helpers>
            <mpm>
                <class>Mollie_Mpm_Helper</class>
            </mpm>
        </helpers>
        <payment>
            <groups>
                <mollie>Mollie Payment Methods</mollie>
                <mollie_deprecated>Mollie Old Methods</mollie_deprecated>
            </groups>
        </payment>
        <resources>
            <mpm_setup>
                <setup>
                    <module>Mollie_Mpm</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mpm_setup>
        </resources>
        <events>
            <controller_front_init_before>
                <observers>
                    <mollie_controller_front_init_before>
                        <type>object</type>
                        <class>Mollie_Mpm_Helper_Autoloader</class>
                        <method>createAndRegister</method>
                    </mollie_controller_front_init_before>
                </observers>
            </controller_front_init_before>
            <order_cancel_after>
                <observers>
                    <mollie_order_cancel_after>
                        <type>singleton</type>
                        <class>Mollie_Mpm_Model_Observer</class>
                        <method>orderCancelAfter</method>
                    </mollie_order_cancel_after>
                </observers>
            </order_cancel_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <mollie_sales_order_creditmemo_save_after>
                        <type>singleton</type>
                        <class>Mollie_Mpm_Model_Observer</class>
                        <method>salesOrderCreditmemoSaveAfter</method>
                    </mollie_sales_order_creditmemo_save_after>
                </observers>
            </sales_order_creditmemo_save_after>
            <sales_order_shipment_save_before>
                <observers>
                    <mollie_sales_order_shipment_save_after>
                        <type>singleton</type>
                        <class>Mollie_Mpm_Model_Observer</class>
                        <method>salesOrderShipmentSaveBefore</method>
                    </mollie_sales_order_shipment_save_after>
                </observers>
            </sales_order_shipment_save_before>
            <sales_order_shipment_track_save_after>
                <observers>
                    <mollie_sales_order_shipment_track_save_after>
                        <type>singleton</type>
                        <class>Mollie_Mpm_Model_Observer</class>
                        <method>salesOrderShipmentTrackSaveAfter</method>
                    </mollie_sales_order_shipment_track_save_after>
                </observers>
            </sales_order_shipment_track_save_after>
        </events>
        <sales>
            <quote>
                <totals>
                    <mollie_mpm_payment_fee>
                        <class>mpm/totals_paymentFee_quote</class>
                        <after>subtotal,discount</after>
                        <before>grand_total,tax</before>
                        <renderer>mpm/checkout_paymentFee</renderer>
                        <admin_renderer>mpm/adminhtml_sales_order_create_paymentFee</admin_renderer>
                    </mollie_mpm_payment_fee>
                    <mollie_mpm_payment_fee_tax>
                        <class>mpm/totals_paymentFee_quoteTax</class>
                        <after>subtotal,discount,shipping,tax</after>
                        <before>grand_total</before>
                    </mollie_mpm_payment_fee_tax>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <mollie_mpm_payment_fee>
                        <class>mpm/totals_paymentFee_invoice</class>
                        <after>subtotal,discount</after>
                        <before>grand_total,tax</before>
                    </mollie_mpm_payment_fee>
                    <mollie_mpm_payment_fee_tax>
                        <class>mpm/totals_paymentFee_invoiceTax</class>
                        <after>subtotal,discount,shipping,tax</after>
                        <before>grand_total</before>
                    </mollie_mpm_payment_fee_tax>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <mollie_mpm_payment_fee>
                        <class>mpm/totals_paymentFee_creditmemo</class>
                        <after>subtotal,discount</after>
                        <before>grand_total,tax</before>
                    </mollie_mpm_payment_fee>
                    <mollie_mpm_payment_fee_tax>
                        <class>mpm/totals_paymentFee_creditmemoTax</class>
                        <after>subtotal,discount,shipping,tax</after>
                        <before>grand_total</before>
                    </mollie_mpm_payment_fee_tax>
                </totals>
            </order_creditmemo>
        </sales>
        <fieldsets>
            <sales_convert_quote_address>
                <mollie_mpm_payment_fee>
                    <to_order>*</to_order>
                </mollie_mpm_payment_fee>
                <base_mollie_mpm_payment_fee>
                    <to_order>*</to_order>
                </base_mollie_mpm_payment_fee>
                <mollie_mpm_payment_fee_tax>
                    <to_order>*</to_order>
                </mollie_mpm_payment_fee_tax>
                <base_mollie_mpm_payment_fee_tax>
                    <to_order>*</to_order>
                </base_mollie_mpm_payment_fee_tax>
            </sales_convert_quote_address>
            <sales_convert_order>
                <mollie_mpm_payment_fee>
                    <to_invoice>*</to_invoice>
                </mollie_mpm_payment_fee>
                <base_mollie_mpm_payment_fee>
                    <to_invoice>*</to_invoice>
                </base_mollie_mpm_payment_fee>
                <mollie_mpm_payment_fee_tax>
                    <to_invoice>*</to_invoice>
                </mollie_mpm_payment_fee_tax>
                <base_mollie_mpm_payment_fee_tax>
                    <to_invoice>*</to_invoice>
                </base_mollie_mpm_payment_fee_tax>
                <mollie_mpm_payment_fee>
                    <to_cm>*</to_cm>
                </mollie_mpm_payment_fee>
                <base_mollie_mpm_payment_fee>
                    <to_cm>*</to_cm>
                </base_mollie_mpm_payment_fee>
                <mollie_mpm_payment_fee_tax>
                    <to_cm>*</to_cm>
                </mollie_mpm_payment_fee_tax>
                <base_mollie_mpm_payment_fee_tax>
                    <to_cm>*</to_cm>
                </base_mollie_mpm_payment_fee_tax>
            </sales_convert_order>
        </fieldsets>
        <pdf>
            <totals>
                <payment_fee translate="title">
                    <title>Mollie payment fee</title>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>100</sort_order>
                    <model>mpm/totals_paymentFee_invoicePdf</model>
                </payment_fee>
            </totals>
        </pdf>
    </global>
    <frontend>
        <routers>
            <mpm>
                <use>standard</use>
                <args>
                    <module>Mollie_Mpm</module>
                    <frontName>mpm</frontName>
                </args>
            </mpm>
        </routers>
        <translate>
            <modules>
                <Mollie_Mpm>
                    <files>
                        <default>Mollie_Mpm.csv</default>
                    </files>
                </Mollie_Mpm>
            </modules>
        </translate>
        <layout>
            <updates>
                <mpm>
                    <file>mollie_mpm.xml</file>
                </mpm>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mollie after="Mage_Adminhtml">Mollie_Mpm</mollie>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Mollie_Mpm>
                    <files>
                        <default>Mollie_Mpm.csv</default>
                    </files>
                </Mollie_Mpm>
            </modules>
        </translate>
        <layout>
            <updates>
                <mpm>
                    <file>mollie_mpm.xml</file>
                </mpm>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <payment>
            <mollie>
                <active>0</active>
                <type>live</type>
                <payment_images>1</payment_images>
                <order_status_pending>pending</order_status_pending>
                <order_status_processing>processing</order_status_processing>
                <loading_screen>0</loading_screen>
                <invoice_notify>1</invoice_notify>
                <debug>1</debug>
                <force_base_currency>1</force_base_currency>
                <register_autoloader>1</register_autoloader>
                <autoloader_basepath>lib/Mollie</autoloader_basepath>
                <cancel_failed_orders>0</cancel_failed_orders>
            </mollie>
            <mollie_bancontact>
                <active>1</active>
                <sort_order>10</sort_order>
                <title>Bancontact</title>
                <model>mpm/method_bancontact</model>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <method/>
                <payment_description>{ordernumber}</payment_description>
            </mollie_bancontact>
            <mollie_banktransfer>
                <active>1</active>
                <sort_order>10</sort_order>
                <title>Banktransfer</title>
                <model>mpm/method_banktransfer</model>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <due_days>14</due_days>
                <method/>
                <payment_description>{ordernumber}</payment_description>
            </mollie_banktransfer>
            <mollie_belfius>
                <active>1</active>
                <sort_order>20</sort_order>
                <title>Belfius</title>
                <model>mpm/method_belfius</model>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <method/>
                <payment_description>{ordernumber}</payment_description>
            </mollie_belfius>
            <mollie_bitcoin>
                <active>1</active>
                <sort_order>30</sort_order>
                <title>Bitcoin</title>
                <model>mpm/method_bitcoin</model>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <method/>
                <payment_description>{ordernumber}</payment_description>
            </mollie_bitcoin>
            <mollie_creditcard>
                <active>1</active>
                <sort_order>40</sort_order>
                <title>Credit Card</title>
                <model>mpm/method_creditcard</model>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <method/>
                <payment_description>{ordernumber}</payment_description>
            </mollie_creditcard>
            <mollie_ideal>
                <active>1</active>
                <sort_order>50</sort_order>
                <title>iDEAL</title>
                <model>mpm/method_ideal</model>
                <group>mollie</group>
                <issuer_list_type>dropdown</issuer_list_type>
                <allowspecific>0</allowspecific>
                <method/>
                <payment_description>{ordernumber}</payment_description>
            </mollie_ideal>
            <mollie_kbc>
                <active>1</active>
                <sort_order>60</sort_order>
                <title>KBC/CBC</title>
                <model>mpm/method_kbc</model>
                <group>mollie</group>
                <issuer_list_type>dropdown</issuer_list_type>
                <allowspecific>0</allowspecific>
                <method/>
                <payment_description>{ordernumber}</payment_description>
            </mollie_kbc>
            <mollie_paypal>
                <active>1</active>
                <sort_order>70</sort_order>
                <title>Paypal</title>
                <model>mpm/method_paypal</model>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <method/>
                <payment_description>{ordernumber}</payment_description>
            </mollie_paypal>
            <mollie_paysafecard>
                <active>1</active>
                <sort_order>80</sort_order>
                <title>Paysafecard</title>
                <model>mpm/method_paysafecard</model>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <method/>
                <payment_description>{ordernumber}</payment_description>
            </mollie_paysafecard>
            <mollie_sofort>
                <active>1</active>
                <sort_order>90</sort_order>
                <title>Sofort</title>
                <model>mpm/method_sofort</model>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <method/>
                <payment_description>{ordernumber}</payment_description>
            </mollie_sofort>
            <mollie_inghomepay>
                <active>1</active>
                <sort_order>100</sort_order>
                <title>ING Homepay</title>
                <model>mpm/method_inghomepay</model>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <method/>
                <payment_description>{ordernumber}</payment_description>
            </mollie_inghomepay>
            <mollie_giropay>
                <active>1</active>
                <sort_order>110</sort_order>
                <title>Giropay</title>
                <model>mpm/method_giropay</model>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <method/>
                <payment_description>{ordernumber}</payment_description>
            </mollie_giropay>
            <mollie_eps>
                <active>1</active>
                <sort_order>120</sort_order>
                <title>EPS</title>
                <model>mpm/method_eps</model>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <method/>
                <payment_description>{ordernumber}</payment_description>
            </mollie_eps>
            <mollie_klarnapaylater>
                <active>1</active>
                <sort_order>130</sort_order>
                <title>Klarna Pay Later</title>
                <model>mpm/method_klarnapaylater</model>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <method>order</method>
            </mollie_klarnapaylater>
            <mollie_klarnasliceit>
                <active>1</active>
                <sort_order>140</sort_order>
                <title>Klarna Slice</title>
                <model>mpm/method_klarnasliceit</model>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <method>order</method>
            </mollie_klarnasliceit>
            <mollie_paymentlink>
                <active>1</active>
                <sort_order>150</sort_order>
                <title>Payment Link / Admin Payment</title>
                <model>mpm/method_paymentlink</model>
                <group>mollie</group>
                <payment_action>order</payment_action>
                <method>order</method>
                <allowspecific>0</allowspecific>
                <message><![CDATA[Click <a href="%link%">here</a> to pay for your purchase.]]></message>
            </mollie_paymentlink>
            <mollie_przelewy24>
                <active>1</active>
                <sort_order>160</sort_order>
                <title>Przelewy24</title>
                <model>mpm/method_przelewy24</model>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <method/>
                <payment_description>{ordernumber}</payment_description>
            </mollie_przelewy24>
            <mollie_applepay>
                <active>1</active>
                <sort_order>160</sort_order>
                <title>Apple Pay</title>
                <model>mpm/method_applepay</model>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <method/>
                <payment_description>{ordernumber}</payment_description>
            </mollie_applepay>
            <mollie_mybank>
                <active>1</active>
                <sort_order>170</sort_order>
                <title>MyBank</title>
                <model>mpm/method_mybank</model>
                <group>mollie</group>
                <allowspecific>0</allowspecific>
                <method/>
                <payment_description>{ordernumber}</payment_description>
            </mollie_mybank>
            <mollie_giftcard>
                <active>0</active>
                <sort_order>10</sort_order>
                <title>Giftcard</title>
                <model>mpm/method_giftcard</model>
                <group>mollie</group>
                <issuer_list_type>dropdown</issuer_list_type>
                <allowspecific>0</allowspecific>
                <method/>
                <payment_description>{ordernumber}</payment_description>
            </mollie_giftcard>
            <mpm_void_00>
                <title>Mollie Void 00</title>
                <group>mollie_deprecated</group>
                <active>0</active>
                <model>mpm/method_deprecated_void00</model>
            </mpm_void_00>
            <mpm_void_01>
                <title>Mollie Void 01</title>
                <group>mollie_deprecated</group>
                <active>0</active>
                <model>mpm/method_deprecated_void01</model>
            </mpm_void_01>
            <mpm_void_02>
                <title>Mollie Void 02</title>
                <group>mollie_deprecated</group>
                <active>0</active>
                <model>mpm/method_deprecated_void02</model>
            </mpm_void_02>
            <mpm_void_03>
                <title>Mollie Void 03</title>
                <group>mollie_deprecated</group>
                <active>0</active>
                <model>mpm/method_deprecated_void03</model>
            </mpm_void_03>
            <mpm_void_04>
                <title>Mollie Void 04</title>
                <group>mollie_deprecated</group>
                <active>0</active>
                <model>mpm/method_deprecated_void04</model>
            </mpm_void_04>
            <mpm_void_05>
                <title>Mollie Void 05</title>
                <group>mollie_deprecated</group>
                <active>0</active>
                <model>mpm/method_deprecated_void05</model>
            </mpm_void_05>
            <mpm_void_06>
                <title>Mollie Void 06</title>
                <group>mollie_deprecated</group>
                <active>0</active>
                <model>mpm/method_deprecated_void06</model>
            </mpm_void_06>
            <mpm_void_07>
                <title>Mollie Void 07</title>
                <group>mollie_deprecated</group>
                <active>0</active>
                <model>mpm/method_deprecated_void07</model>
            </mpm_void_07>
            <mpm_void_08>
                <title>Mollie Void 08</title>
                <group>mollie_deprecated</group>
                <active>0</active>
                <model>mpm/method_deprecated_void08</model>
            </mpm_void_08>
            <mpm_void_09>
                <title>Mollie Void 09</title>
                <group>mollie_deprecated</group>
                <active>0</active>
                <model>mpm/method_deprecated_void09</model>
            </mpm_void_09>
            <mpm_void_10>
                <title>Mollie Void 10</title>
                <group>mollie_deprecated</group>
                <active>0</active>
                <model>mpm/method_deprecated_void10</model>
            </mpm_void_10>
            <mpm_void_11>
                <title>Mollie Void 11</title>
                <group>mollie_deprecated</group>
                <active>0</active>
                <model>mpm/method_deprecated_void11</model>
            </mpm_void_11>
            <mpm_void_12>
                <title>Mollie Void 12</title>
                <group>mollie_deprecated</group>
                <active>0</active>
                <model>mpm/method_deprecated_void12</model>
            </mpm_void_12>
            <mpm_void_13>
                <title>Mollie Void 13</title>
                <group>mollie_deprecated</group>
                <active>0</active>
                <model>mpm/method_deprecated_void13</model>
            </mpm_void_13>
            <mpm_void_14>
                <title>Mollie Void 14</title>
                <group>mollie_deprecated</group>
                <active>0</active>
                <model>mpm/method_deprecated_void14</model>
            </mpm_void_14>
            <mpm_void_15>
                <title>Mollie Void 15</title>
                <group>mollie_deprecated</group>
                <active>0</active>
                <model>mpm/method_deprecated_void15</model>
            </mpm_void_15>
        </payment>
    </default>
</config>
