<?xml version="1.0"?>

<!--
 *
 * Copyright (c) 2012-2014, Mollie B.V.
 * All rights reserved. 
 * 
 * Redistribution and use in source and binary forms, with or without 
 * modification, are permitted provided that the following conditions are met: 
 * 
 * - Redistributions of source code must retain the above copyright notice, 
 *    this list of conditions and the following disclaimer.
 * - Redistributions in binary form must reproduce the above copyright 
 *    notice, this list of conditions and the following disclaimer in the
 *    documentation and/or other materials provided with the distribution.
 * 
 * THIS SOFTWARE IS PROVIDED BY THE AUTHOR AND CONTRIBUTORS ``AS IS'' AND ANY 
 * EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE 
 * DISCLAIMED. IN NO EVENT SHALL THE AUTHOR OR CONTRIBUTORS BE LIABLE FOR ANY 
 * DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES 
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR 
 * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER 
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT 
 * LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY 
 * OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH 
 * DAMAGE. 
 *
 * @category    Mollie
 * @package     Mollie_Payment_Module
 * @author      Mollie B.V. (info@mollie.nl)
 * @copyright   Copyright (c) 2012-2014 Mollie B.V. (http://www.mollie.nl)
 * @license     http://www.opensource.org/licenses/bsd-license.php  Berkeley Software Distribution License (BSD-License 2)
 * 
-->

<config>
    <modules>
        <Mollie_Mpm>
            <version>4.3.0</version>
        </Mollie_Mpm>
    </modules>

    <global>
        <models>
            <mpm>
                <class>Mollie_Mpm_Model</class>
            </mpm>
        </models>
        <blocks>
            <mpm>
                <class>Mollie_Mpm_Block</class>
            </mpm>
            <payment>
                <class>Mollie_Mpm_Block</class>
                <class>Mage_Payment_Block</class>
            </payment>
        </blocks>
        <helpers>
            <mpm>
                <class>Mollie_Mpm_Helper</class>
            </mpm>
        </helpers>
        <payment>
            <groups>
                <mollie>mollie</mollie>
            </groups>
        </payment>
        <resources>
            <mpm_setup>
                <setup>
                    <module>Mollie_Mpm</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mpm_setup>
            <mpm_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mpm_write>
            <mpm_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mpm_read>
        </resources>
        <layouts>
            <mollie_exception>
                <label>Mollie Exception</label>
                <template>mollie/page/exception.phtml</template>
            </mollie_exception>
            <api_payment_fail>
                <label>Payment Failed</label>
                <template>mollie/page/payment_fail.phtml</template>
            </api_payment_fail>
        </layouts>
        <events>
            <controller_action_predispatch>
                <observers>
                    <mollie_check_restore_cart_session>
                        <class>mpm/observer</class>
                        <method>checkRestoreCartSession</method>
                    </mollie_check_restore_cart_session>
                </observers>
            </controller_action_predispatch>
        </events>
    </global>

    <frontend>
        <routers>
            <mpm>
                <use>standard</use>
                <args>
                    <module>Mollie_Mpm</module>
                    <frontName>mpm</frontName>
                </args>
            </mpm>
        </routers>
        <translate>
            <modules>
                <Mollie_Mpm>
                    <files>
                        <default>Mollie_Mpm.csv</default>
                    </files>
                </Mollie_Mpm>
            </modules>
        </translate>
        <layout>
            <updates>
                <mpm>
                    <file>mpm.xml</file>
                </mpm>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Mollie_Mpm>
                    <files>
                        <default>Mollie_Mpm.csv</default>
                    </files>
                </Mollie_Mpm>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mollie>
                                            <title>Mollie Betaalmethodes</title>
                                        </mollie>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <mpm>
                    <file>mpm.xml</file>
                </mpm>
            </updates>
        </layout>
    </adminhtml>

    <default>
        <payment>

            <mpm_void_00 translate="title" module="Mollie_Mpm">
                <group>mollie</group>
                <active>1</active>
                <sort_order>-16</sort_order>
                <model>mpm/void00</model>
                <currency>EUR</currency>
            </mpm_void_00>

            <mpm_void_01 translate="title" module="Mollie_Mpm">
                <group>mollie</group>
                <active>1</active>
                <sort_order>-15</sort_order>
                <model>mpm/void01</model>
                <currency>EUR</currency>
            </mpm_void_01>

            <mpm_void_02 translate="title" module="Mollie_Mpm">
                <group>mollie</group>
                <active>1</active>
                <sort_order>-14</sort_order>
                <model>mpm/void02</model>
                <currency>EUR</currency>
            </mpm_void_02>

            <mpm_void_03 translate="title" module="Mollie_Mpm">
                <group>mollie</group>
                <active>1</active>
                <sort_order>-13</sort_order>
                <model>mpm/void03</model>
                <currency>EUR</currency>
            </mpm_void_03>

            <mpm_void_04 translate="title" module="Mollie_Mpm">
                <group>mollie</group>
                <active>1</active>
                <sort_order>-12</sort_order>
                <model>mpm/void04</model>
                <currency>EUR</currency>
            </mpm_void_04>

            <mpm_void_05 translate="title" module="Mollie_Mpm">
                <group>mollie</group>
                <active>1</active>
                <sort_order>-11</sort_order>
                <model>mpm/void05</model>
                <currency>EUR</currency>
            </mpm_void_05>

            <mpm_void_06 translate="title" module="Mollie_Mpm">
                <group>mollie</group>
                <active>1</active>
                <sort_order>-10</sort_order>
                <model>mpm/void06</model>
                <currency>EUR</currency>
            </mpm_void_06>

            <mpm_void_07 translate="title" module="Mollie_Mpm">
                <group>mollie</group>
                <active>1</active>
                <sort_order>-9</sort_order>
                <model>mpm/void07</model>
                <currency>EUR</currency>
            </mpm_void_07>

            <mpm_void_08 translate="title" module="Mollie_Mpm">
                <group>mollie</group>
                <active>1</active>
                <sort_order>-8</sort_order>
                <model>mpm/void08</model>
                <currency>EUR</currency>
            </mpm_void_08>

            <mpm_void_09 translate="title" module="Mollie_Mpm">
                <group>mollie</group>
                <active>1</active>
                <sort_order>-7</sort_order>
                <model>mpm/void09</model>
                <currency>EUR</currency>
            </mpm_void_09>

            <mpm_void_10 translate="title" module="Mollie_Mpm">
                <group>mollie</group>
                <active>1</active>
                <sort_order>-6</sort_order>
                <model>mpm/void10</model>
                <currency>EUR</currency>
            </mpm_void_10>

            <mpm_void_11 translate="title" module="Mollie_Mpm">
                <group>mollie</group>
                <active>1</active>
                <sort_order>-5</sort_order>
                <model>mpm/void11</model>
                <currency>EUR</currency>
            </mpm_void_11>

            <mpm_void_12 translate="title" module="Mollie_Mpm">
                <group>mollie</group>
                <active>1</active>
                <sort_order>-4</sort_order>
                <model>mpm/void12</model>
                <currency>EUR</currency>
            </mpm_void_12>

            <mpm_void_13 translate="title" module="Mollie_Mpm">
                <group>mollie</group>
                <active>1</active>
                <sort_order>-3</sort_order>
                <model>mpm/void13</model>
                <currency>EUR</currency>
            </mpm_void_13>

            <mpm_void_14 translate="title" module="Mollie_Mpm">
                <group>mollie</group>
                <active>1</active>
                <sort_order>-2</sort_order>
                <model>mpm/void14</model>
                <currency>EUR</currency>
            </mpm_void_14>

            <mpm_void_15 translate="title" module="Mollie_Mpm">
                <group>mollie</group>
                <active>1</active>
                <sort_order>-1</sort_order>
                <model>mpm/void15</model>
                <currency>EUR</currency>
            </mpm_void_15>

        </payment>
    </default>
</config>
