<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2012-2018, Mollie B.V.
  ~ All rights reserved.
  ~
  ~ Redistribution and use in source and binary forms, with or without
  ~ modification, are permitted provided that the following conditions are met:
  ~
  ~ - Redistributions of source code must retain the above copyright notice,
  ~   this list of conditions and the following disclaimer.
  ~ - Redistributions in binary form must reproduce the above copyright notice,
  ~   this list of conditions and the following disclaimer in the documentation
  ~   and/or other materials provided with the distribution.
  ~
  ~ THIS SOFTWARE IS PROVIDED BY THE AUTHOR AND CONTRIBUTORS ``AS IS'' AND ANY
  ~ EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
  ~ WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
  ~ DISCLAIMED. IN NO EVENT SHALL THE AUTHOR OR CONTRIBUTORS BE LIABLE FOR ANY
  ~ DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
  ~ (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
  ~ SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
  ~ CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
  ~ LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
  ~ OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH
  ~ DAMAGE.
  ~
  ~ @category    Mollie
  ~ @package     Mollie_Mpm
  ~ @author      Mollie B.V. (info@mollie.nl)
  ~ @copyright   Copyright (c) 2012-2018 Mollie B.V. (https://www.mollie.nl)
  ~ @license     http://www.opensource.org/licenses/bsd-license.php  BSD-License 2
  -->
<config>
    <sections>
        <payment>
            <groups>
                <mollie translate="label" module="mpm">
                    <label>Mollie - Settings</label>
                    <expanded>1</expanded>
                    <sort_order>-100</sort_order>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment>
                     <![CDATA[
                      <div class="mollie-header">
                       <p>© Mollie Payments. Activate the Payment Methods in your <a href="https://www.mollie.com/dashboard/login">Mollie Dashboard</a> to use them in your store.</p>
                       <table>
                        <tbody>
                         <tr>
                          <td><a href="https://www.mollie.com/" target="_blank">Visit Mollie</a></td>
                          <td><a href="https://www.magmodules.eu/contact-us.html" target="_blank">Extension Support</a></td>
                          <td><a href="https://github.com/mollie/Magento/wiki" target="_blank">Visit Wiki Page</a></td>
                          <td><a href="https://www.mollie.com/nl/contact/" target="_blank">Contact Mollie</a></td>
                         </tr>
                        </tbody>
                       </table>
                      </div>
                     ]]>
                    </comment>
                    <fields>
                        <version translate="label">
                            <label>Extension Version</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>mpm/adminhtml_render_version</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </version>
                        <active translate="label tooltip">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[<b>Status:</b><br/>Enable or disable the Mollie plugin.]]></tooltip>
                        </active>
                        <heading_api translate="label">
                            <label>API Details</label>
                            <frontend_model>mpm/adminhtml_render_heading</frontend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </heading_api>
                        <apikey translate="label tooltip">
                            <label>Api Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[<b>Mollie Api Key:</b><br/>Your Mollie Api Key. The payment is added to this account.]]></tooltip>
                            <depends>
                                <active>1</active>
                            </depends>
                        </apikey>
                        <apitest_button translate="label">
                            <label>Api Test</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>mpm/adminhtml_system_config_form_apitest_button</frontend_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </apitest_button>
                        <apitest_result translate="label">
                            <label></label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>mpm/adminhtml_system_config_form_apitest_result</frontend_model>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </apitest_result>
                        <heading_settings translate="label">
                            <label>Settings</label>
                            <frontend_model>mpm/adminhtml_render_heading</frontend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </heading_settings>
                        <description translate="label tooltip">
                            <label>Description</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[<b>Description:</b><br/>Enter a description here. Use '%' for the order id. Payment methods may have a character limit: best keep the description under 29 characters.]]></tooltip>
                            <depends>
                                <active>1</active>
                            </depends>
                        </description>
                        <show_images translate="label tooltip">
                            <label>Show Images</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[<b>Show Images:</b><br/>Enable or disable payment method logos.]]></tooltip>
                            <depends>
                                <active>1</active>
                            </depends>
                        </show_images>
                        <show_bank_list translate="label tooltip">
                            <label>Show iDeal Bank List</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>23</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[<b>Show Bank List:</b><br/>Enable to show the list of available banks in the webshop. When disabled, the customer can choose a bank on the payment screen.]]></tooltip>
                            <depends>
                                <active>1</active>
                            </depends>
                        </show_bank_list>
                        <show_giftcard_list translate="label tooltip">
                            <label>Show Giftcard List</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>24</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[<b>Show Bank List:</b><br/>Enable to show the list of available banks in the webshop. When disabled, the customer can choose a bank on the payment screen.]]></tooltip>
                            <depends>
                                <active>1</active>
                            </depends>
                        </show_giftcard_list>
                        <banktransfer_due_date_days translate="label tooltip">
                            <label>Bank Transfer Due Days</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[<b>Bank transfer due days:</b> <br/>]]> Set the days for due date on bank transfer payments.</tooltip>
                            <depends>
                                <active>1</active>
                            </depends>
                        </banktransfer_due_date_days>
                        <locale translate="label tooltip">
                            <label>Language Payment Page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mpm/adminhtml_system_config_source_locale</source_model>
                            <sort_order>26</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Let Mollie automatically detect the language or force a language for your store view.]]></comment>
                            <depends>
                                <active>1</active>
                            </depends>
                        </locale>
                        <loading_screen translate="label tooltip">
                            <label>Loading Screen</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>27</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Use loading screen before redirect. This will enable mobile users to use the back button.]]></comment>
                            <depends>
                                <active>1</active>
                            </depends>
                        </loading_screen>
                        <heading_currency translate="label">
                            <label>Multi Currency</label>
                            <frontend_model>mpm/adminhtml_render_heading</frontend_model>
                            <sort_order>28</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </heading_currency>
                        <force_base_currency translate="label tooltip">
                            <label>Always use base Currency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>29</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Force use of base currency for the payment request. Is set to no the selected currency of the storeview will be used for request.]]></comment>
                            <depends>
                                <active>1</active>
                            </depends>
                        </force_base_currency>
                        <heading_status translate="label">
                            <label>Emails &amp; Invoicing</label>
                            <frontend_model>mpm/adminhtml_render_heading</frontend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </heading_status>
                        <order_status_pending translate="label tooltip">
                            <label>Status Pending</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status_new</source_model>
                            <sort_order>31</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[<b>Status Pending:</b><br/>Set the order status before the customer is redirected to Payment Gateway.]]></tooltip>
                            <depends>
                                <active>1</active>
                            </depends>
                        </order_status_pending>
                        <order_status_processing translate="label tooltip">
                            <label>Status Processing</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status_processing</source_model>
                            <sort_order>32</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[<b>Status Processing:</b><br/>Set the order status for a Successful Payment.]]></tooltip>
                            <depends>
                                <active>1</active>
                            </depends>
                        </order_status_processing>
                        <skip_order_mails translate="label tooltip">
                            <label>Skip order confirmation mails</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>34</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[<b>Skip order confirmation mails:</b><br/>Enable this option to skip sending order confirmation mails to the customer.]]></tooltip>
                            <depends>
                                <active>1</active>
                            </depends>
                        </skip_order_mails>
                        <skip_invoice_mails translate="label tooltip">
                            <label>Skip invoice confirmation mails</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[<b>Skip invoice confirmation mails:</b><br/>Enable this option to skip sending invoice confirmation mails to the customer. This option only applies when manual invoicing is disabled.]]></tooltip>
                            <depends>
                                <active>1</active>
                            </depends>
                        </skip_invoice_mails>
                        <heading_debugging translate="label">
                            <label>Debugging</label>
                            <frontend_model>mpm/adminhtml_render_heading</frontend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </heading_debugging>
                        <debug translate="label tooltip">
                            <label>Enable Logging</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>41</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <tooltip><![CDATA[<b>Enable Logging:</b><br/>Enable this option to log all the action in a logfile located in /var/log/mollie.log.]]></tooltip>
                            <depends>
                                <active>1</active>
                            </depends>
                        </debug>
                        <compatibility_button translate="label">
                            <label>Self Test</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>mpm/adminhtml_system_config_form_compatibility_button</frontend_model>
                            <sort_order>42</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </compatibility_button>
                        <compatibility_result translate="label">
                            <label></label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>mpm/adminhtml_system_config_form_compatibility_result</frontend_model>
                            <sort_order>43</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </compatibility_result>
                    </fields>
                </mollie>
                <mollie_support translate="label" module="mpm">
                    <label>Mollie - Payment Methods</label>
                    <expanded>1</expanded>
                    <sort_order>-90</sort_order>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <hint>
                            <sort_order>0</sort_order>
                            <frontend_model>mpm/adminhtml_render_status</frontend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </hint>
                    </fields>
                </mollie_support>
            </groups>
        </payment>
    </sections>
</config>