<?xml version="1.0"?>

<!--
 * Copyright (c) 2012-2014, Mollie B.V.
 * All rights reserved. 
 * 
 * Redistribution and use in source and binary forms, with or without 
 * modification, are permitted provided that the following conditions are met: 
 * 
 * - Redistributions of source code must retain the above copyright notice, 
 *    this list of conditions and the following disclaimer.
 * - Redistributions in binary form must reproduce the above copyright 
 *    notice, this list of conditions and the following disclaimer in the
 *    documentation and/or other materials provided with the distribution.
 * 
 * THIS SOFTWARE IS PROVIDED BY THE AUTHOR AND CONTRIBUTORS ``AS IS'' AND ANY 
 * EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE 
 * DISCLAIMED. IN NO EVENT SHALL THE AUTHOR OR CONTRIBUTORS BE LIABLE FOR ANY 
 * DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES 
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR 
 * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER 
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT 
 * LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY 
 * OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH 
 * DAMAGE. 
 *
 * @category    Mollie
 * @package     Mollie_Mpm
 * @author      Mollie B.V. (info@mollie.nl)
 * @copyright   Copyright (c) 2012 Mollie B.V. (http://www.mollie.nl)
 * @license     http://www.opensource.org/licenses/bsd-license.php  Berkeley Software Distribution License (BSD-License 2)
 * 
-->

<config>
    <sections>
        <payment>
            <groups>
                <mollie translate="label" module="mpm">
                    <label>Mollie Settings</label>
                    <expanded>1</expanded>
                    <sort_order>-100</sort_order>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <apikey translate="label tooltip">
                            <label>Api Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[<b>Mollie Api Key:</b> <br/>]]> Your Mollie Api Key. The payment is added to this account.</tooltip>
                            <validate>required-entry</validate>
                        </apikey>

                        <active translate="label tooltip">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[<b>Status:</b> <br/>]]> Enable or disable the Mollie plugin.</tooltip>
                        </active>

                        <description translate="label tooltip">
                            <label>Description</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[<b>Description:</b> <br/>]]> Enter a description here. Use '%' for the order id. Payment methods may have a character limit: best keep the description under 29 characters.</tooltip>
                            <validate>required-entry</validate>
                        </description>

                        <skip_invoice translate="label tooltip">
                            <label>Manual invoicing</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[<b>Manual invoices:</b> <br/>]]> Enable this option to skip auto-invoicing.</tooltip>
                        </skip_invoice>

                        <skip_order_mails translate="label tooltip">
                            <label>Skip order confirmation mails</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[<b>Skip order confirmation mails:</b> <br/>]]> Enable this option to skip sending order confirmation mails to the customer.</tooltip>
                        </skip_order_mails>

                        <skip_invoice_mails translate="label tooltip">
                            <label>Skip invoice confirmation mails</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[<b>Skip invoice confirmation mails:</b> <br/>]]> Enable this option to skip sending invoice confirmation mails to the customer. This option only applies when manual invoicing is disabled.</tooltip>
                        </skip_invoice_mails>

                        <show_images translate="label tooltip">
                            <label>Show Images</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[<b>Show Images:</b> <br/>]]> Enable or disable payment method logos.</tooltip>
                        </show_images>

                        <show_bank_list translate="label tooltip">
                            <label>Show Bank List</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[<b>Show Bank List:</b> <br/>]]> Enable to show the list of available banks in the webshop. When disabled, the customer can choose a bank on the payment screen.</tooltip>
                        </show_bank_list>

                        <banktransfer_due_date_days translate="label tooltip">
                            <label>Bank transfer due days</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[<b>Bank transfer due days:</b> <br/>]]> Set the days for due date on bank transfer payments.</tooltip>
                        </banktransfer_due_date_days>
                    </fields>
                </mollie>
                <mollie_support translate="label" module="mpm">
                    <label>Mollie Support</label>
                    <expanded>1</expanded>
                    <sort_order>-90</sort_order>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <hint>
                            <sort_order>0</sort_order>
                            <frontend_model>mpm/adminhtml_system_config_status</frontend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </hint>
                    </fields>
                </mollie_support>
            </groups>
        </payment>
    </sections>
</config>
